*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
header{
	position: absolute;
	width: 100%;
}
a:link {
    text-decoration: none;
    color: #004c4c;
}

a:visited {
    text-decoration: none;
    color: #004c4c;
}

a:hover {
    text-decoration: underline;
}
.splash {
	background-size: cover;
	width: 100%;
}
.container {
	width: 100%;
	height: auto;
}
.thumb {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-position: center center;
    background-size: cover;
}

h1 {
	text-align: left;
  	color: #004c4c;
  	font-family: Helvetica, sans-serif;
  	font-size: 30px;
  	font-weight: 800;
}
h3 {
	text-align: left;
  	color: #004c4c;
  	font-family: Helvetica, sans-serif;
  	font-size: 25px;
  	font-weight: 700;
}
h4 {
	text-align: left;
  	color: #004c4c;
  	font-family: Helvetica, sans-serif;
  	font-size: 25px;
  	font-weight: 700;
  	margin-left: 40px;
}
p {
	text-align: left;
  	color: #004c4c;
  	font-family: Helvetica, sans-serif;
  	font-size: 20px;
  	font-weight: 400;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 450px;
    text-align: left;
}
nav {	
	float: right;
	display: inline-block;
}
.nav-links{
	position: relative;
	top: -58px;
}
aside {	
	float: top;
}
header img { 
	width: 100%; 
	height: auto; 
}
figure {
	display: block;
	float: left;
	width: 33.333%;
	max-height: 200;
	overflow: hidden;
	padding-bottom: 33.333%; 
	margin: 0;
	padding: 0;
}
figure img { 
	width: 100%; 
	height: auto;
	display: block;  
	overflow: hidden;
	padding-bottom: 33.333%; 
	margin: 0;
	padding: 0;
}