*, 
*:before, 
*:after {     
	margin: 0;     
	padding: 0;     
	-moz-box-sizing: border-box;     
	-webkit-box-sizing: border-box;     
	box-sizing: border-box; 
}

header img { 
	width: 100%; height: auto; 
}

figure {
  display: block;
  float: left;
  width: 33.333%;
  height: 0px;
  overflow: hidden;
  padding-bottom: 33.333%; 
}

figure img { 
	width: 100%; height: auto; 
}

body {
	background-image: url(../images/splash.jpg);
}

