*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.h1 {
	text-align: left;
  	color: white;
  	font-family: Helvetica;
  	font-size: 30px;
  	font-weight: 800;
}
.h3 {
	text-align: left;
  	color: black;
  	font-family: Helvetica;
  	font-size: 25px;
  	font-weight: 700;
}
header img { 
	width: 100%; 
	height: auto; 
}
figure {
  display: block;
  float: left;
  width: 33.333%;
  max-height: 200;
  overflow: hidden;
  padding-bottom: 33.333%; 
}
figure img { 
	width: 100%; 
	height: auto;
	display: block;  
	overflow: hidden;
	padding-bottom: 33.333%; 
}