*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
header{
	position: absolute;
	width: 100%;
}
.splash {
	background-size: cover;
	width: 100%;
}
.container {
	width: 100%;
	height: auto;
}

.square-image{
	background: url("images/splash1.jpg") 50% 50% no-repeat; /* 50% 50% centers image in div */
	width: 33%;
	height: 100%;
	background-size: cover;
	display: inline-block;

}
h1 {
	text-align: left;
  	color: #004c4c;
  	font-family: Helvetica, sans-serif;
  	font-size: 30px;
  	font-weight: 800;
}
h3 {
	text-align: left;
  	color: #004c4c;
  	font-family: Helvetica, sans-serif;
  	font-size: 25px;
  	font-weight: 700;
}
nav {	
	float: right;
	display: inline-block;
}
.nav-links{
	position: relative;
	top: -58px;
}
aside {	
	float: top;
}
header img { 
	width: 100%; 
	height: auto; 
}
figure {
  display: block;
  float: left;
  width: 33.333%;
  max-height: 200;
  overflow: hidden;
  padding-bottom: 33.333%; 
}
figure img { 
	width: 100%; 
	height: auto;
	display: block;  
	overflow: hidden;
	padding-bottom: 33.333%; 
}